/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #FFF5E4;  /* Light beige */
  color: #5c4e3e;  /* Dark brown for text */
  padding: 0px;
  line-height: 1.6;
  padding-top: 80px;  /* Adjust based on your navbar height */
  text-align: center;
}

/* Heading styling */
h1 {
  font-size: 54px;
  color: #2F3645;
  margin-bottom: 0px;
  margin-top: -100px;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: #404d69;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}
h2 {
  font-size: 24px;
  color: #404d69;
  margin-bottom: 0px;
  margin-top: 30px;
  text-align: center;
}

/* Profile image */
.image-container {
  position: relative;
  top: -100px; /* Adjust the vertical position as needed */
  left: 50%; /* Position the container in the middle of the page */
  transform: translateX(-50%); /* Adjust it back by half its width to truly center it */
  display: flex;
  justify-content: center; /* Horizontally center the content inside */
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #FFF5E4;
}


/* Social Icons styling */
.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
  background-color: #2F3645;  /* Match the background color of navbar */
  padding: 10px 20px;  /* Adjust padding to give a rounded rectangle shape */
  border-radius: 20px;  /* This creates a rounded rectangle effect */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.social-icons a {
  color: #FFF5E4;
  font-size: 28px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #5e5e5d;
}

/* Navbar styling */

nav {
  padding: 10px 0px;
  width: 100%; 
  background-color: #292e39;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav ul li {
  display: inline;
  position: relative;
}

nav ul li a {
  color: #FFF5E4;
  text-decoration: none;
  font-size: 18px;
  padding: 2px 80px;
  position: relative;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

nav ul li a:hover {
  color: #FFF5E4;
  font-weight: bold;
}
nav ul li.active {
  text-decoration: underline;
  text-decoration-color: #FFF5E4; /* Color of the underline */
  text-decoration-thickness: 2px; /* Thickness of the underline */
  text-underline-offset: 5px; /* Adjust this value to set space between text and underline */
  color: #FFF5E4;
  font-weight: bold;
}

nav ul li a.active a {
  color: #FFF5E4; /* Keep the default color */
  font-weight: bold;
  text-decoration: none; /* Remove the underline */
}

.background-container {
  position: relative;
  width: 100%;
  background-color: #2F3645; /* Same color as the navbar */
  height: 200px;
  padding:0;
  margin-top: -50px;
  text-align: center;
  display: flex;
}