---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - Ashlee Gabourel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    <Navbar />
    
    
    <section>
      <h2>Recent Posts</h2>
      <ul>
        <li><a href="/blog/post1">Post 1 Title</a></li>
        <li><a href="/blog/post2">Post 2 Title</a></li>
        <!-- Add more blog post links here -->
      </ul>
    </section>
  </body>
</html>